.syntax--source.syntax--css {
  .syntax--entity {
    &.syntax--attribute-name {
      color: @yellow;
    }
  }

  .syntax--type.syntax--property-name,
  .syntax--type.syntax--property-value {
    color: @light-yellow;
    &.syntax--support {
      color: @yellow;
    }
  }
}
