.source.java {
  .storage {
    &.type {
      color: @light-blue;
    }

    &.type.annotation {
      color: @syntax-type-annotation-text-color;
    }
  }
}

.source.java-properties {
  .constant {
    color: @light-blue;
  }

  .string.unquoted {
    color: @yellow;
  }

  .punctuation.separator.key-value {
    color: @darkish-gray;
  }
}
