.syntax--source.syntax--python {
  .syntax--function {
    &.syntax--magic {
      color: @brown;
    }
  }

  .syntax--variable {
    &.syntax--language {
      color: @yellow;
    }

    &.syntax--parameter.syntax--function {
      color: @light-yellow;
    }
  }
}
