.syntax--source.syntax--ruby {
  .syntax--function {
    &.syntax--kernel {
      color: @brown;
    }
  }

  .syntax--constant {
    &.syntax--symbol {
      color: @light-yellow;
    }
  }

  .syntax--punctuation {
    &.syntax--embedded {
      color: @syntax-string-interpolation-inject;
    }
  }

  .syntax--embedded {
    color: @yellow;
  }
}
