.syntax--source.syntax--scala {
  .syntax--meta {
    &.syntax--bracket {
      color: @syntax-text-color;
    }
  }

  .syntax--class {
    color: @light-blue;
  }

  .syntax--entity {
    &.syntax--name.syntax--type.syntax--declaration {
      color: @light-orange;
    }

    &.syntax--name.syntax--val.syntax--declaration {
      color: @yellow;
    }
  }

  .syntax--punctuation {
    &.syntax--embedded {
      color: @syntax-string-interpolation-inject;
    }
  }

  .syntax--embedded {
    color: @yellow;
  }
}
