.comment {
  color: @syntax-comment-text-color;
  font-style: italic;

  .markup.link {
    text-decoration: underline;
  }
}

.keyword {
  color: @syntax-keyword-text-color;

  &.operator {
    color: @syntax-text-color;

    &.logical {
      color: @syntax-keyword-text-color;
    }
  }

  &.other.special-method {
    color: @blue;
  }

  &.other.unit {
    color: @orange;
  }
}

.storage {
  &.type {
    color: @light-blue;
  }

  &.type.class, &.type.function {
    color: @syntax-keyword-text-color;
  }

  &.type.primitive {
    color: @light-blue;
  }

  &.type.annotation {
    color: @syntax-type-annotation-text-color;
  }

  &.modifier {
    color: @syntax-keyword-text-color;
  }

  &.modifier.import, &.modifier.package {
    color: @syntax-text-color;
  }
}

.annotation {
  .constant {
    color: @yellow;
  }
}

.constant {
  color: @orange;

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: @light-red;
  }

  &.other.color {
    color: @cyan;
  }

  &.other.symbol {
    color: @green;
  }
}

.variable {
  color: @syntax-text-color;

  &.parameter {
    color: @yellow !important;
  }
}

.meta {
  &.class.body {
    color: @light-yellow;
  }

  &.method-call {
    .method, .punctuation {
      color: @syntax-text-color;
    }
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @syntax-string-text-color;

  &.regexp {
    color: @cyan;
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.comment {
      color: @syntax-comment-text-color;
    }

    &.variable,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.string {
      color: @syntax-string-text-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @light-orange;
      font-weight: bold;
    }

    &.italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: @yellow;
  }

  &.section.method, &.section.class {
    color: @syntax-text-color;
  }
}

.support {
  &.class {
    color: @orange;
  }

  &.function  {
    color: @cyan;
    font-style: italic;
  }
}

.entity {
  &.name.function {
    color: @syntax-text-color;
  }

  &.other.inherited-class {
    color: @light-blue;
  }
  &.name.class, &.name.type.class {
    color: @light-blue;
  }

  &.name.section {
    color: @blue;
  }

  &.name.tag {
    color: @orange;
  }

  &.other.attribute-name {
    color: @light-yellow;

    &.id {
      color: @light-yellow;
    }
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-weight: bold;
  }

  &.changed {
    color: @purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}
